body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.container {
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}
p {
    margin: 0;
    text-align: right;
    font-size: 1em;
    padding-right: 2px;
}